.intercom-k9lbvn {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
	padding: 0 38%;
}
.intercom-1r9pix7 {
    z-index: 2147483003;
    position: absolute;
    width: 51px;
    height: 51px;
    top: 0px;
    right: 0px;
    display: none;
    cursor: pointer;
    background-position: center center;
    margin: 12px 8px 12px 2px;
}
.intercom-1wfu0cf {
    width: 51px;
    height: 51px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transform: translateZ(0px);
    margin: 0px auto;
    border-radius: 8px;
    transition: background-color 200ms ease 0s;
	background-color: rgba(0, 0, 0, 0);
}
.intercom-1st1y8f {
    position: relative;
    min-height: 75px;
    color: white;
    transition: height 160ms ease-out 0s;
	height: 255px;
    background: linear-gradient(135deg, rgb(255 94 0) 0%, rgb(247 34 0) 100%);
}
.intercom-54htql {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    padding: 10px 40px;
}
.intercom-b7o34m {
    transform: translateY(0px);
    opacity: 1;
}
.intercom-19b3utr {
    height: 32px;
    padding-bottom: 16px;
}
.intercom-19b3utr img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-weight: normal;
    text-align: left;
    text-align-last: initial;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    line-height: inherit;
    font-variant: normal;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.intercom-15952ex {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.intercom-15952ex > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.intercom-chmsnk {
    color: rgb(255, 255, 255);
    display: block;
    line-height: 1.5em;
}

.intercom-1xafcqx {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 21px 4px -20px inset;
    /* flex: 1 1 0%; */
    border: 0.5px solid #eee;
    height: 340px !important;
}

.intercom-1a6uzeh {
    z-index: 2147483002;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    overflow-y: auto;
	padding: 0px 38%;
}
.intercom-u5foh5 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    padding: 0px 16px 55px;
}
.intercom-1jqiena {
    height: 0px;
    overflow: visible;
}
.intercom-1a6uzeh .eoau2rn0 {
    margin-bottom: 16px;
}

.intercom-1c6f2mw {
    position: relative;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(255, 255, 255, 0.5) 0px 2px 0px 0px inset;
    border-radius: 3px;
    transition: height 300ms ease-in-out 0s;
}
.intercom-icbmz8 {
    line-height: 1.5;
    padding: 26px 24px 24px;
}
.intercom-1iyno1o {
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: -24px;
    border-top: 0px;
    border-bottom: 0px;
}
.intercom-1iyno1o .e1b3yklj0:first-of-type, .intercom-1iyno1o .e1b3yklj0:first-of-type:active, .intercom-1iyno1o .e1b3yklj0:first-of-type:hover {
    margin-top: 2px;
    border-radius: 3px 3px 0px 0px;
}

.intercom-wlajoz:last-child {
    border-bottom: 0px;
}
.intercom-wlajoz .e17ij5so0 {
    margin-bottom: 0px;
    margin-right: 8px;
}

.intercom-19f8e7l {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 8px;
    user-select: none;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.intercom-wlajoz * {
    cursor: pointer;
}
.intercom-tg33l {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
}
.intercom-1c8rdjc {
    font-size: 14px;
    color: rgb(115, 115, 118);
}
.intercom-messenger-card-list-item-text-title.intercom-15cv1mm.e1b3yklj2 {
    padding: 25px;
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.list {
    padding: 10px 25px;
}
.sd {
    padding: 12px;
    border: 1px solid #eee;
    margin: 8px 0;
    border-radius: 8px;
	    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
button.btn {
    margin: 12px auto;
    display: block;
    
    border: 1px solid #eee;
    padding: 6px 20px;
    border-radius: 20px;
    background: #fff;
}
a {
    text-decoration: none;
}
img.chat-img {
    position: absolute;
    z-index: 9999999999;
    background: #ff6a00;
    /* width: 9%; */
    border-radius: 50%;
    height: 50px;
        top: 23%;
    left: 40%;
    width: 57px;
    box-shadow: 1px 2px 3px #bf8257;
}